<h2 style="text-align: center; background-color: #4d648d; font-family:Arial; color: white; padding: 13px; line-height: 1; border-radius:10px">Traiter les valeurs cat√©gorielles üî¢</h2>

In [1]:
import pandas as pd
df = pd.read_csv("db_customers.csv")
df.head()

,order_id,order_status,order_purchase_timestamp,order_delivered_customer_date,payment_type,payment_installments,payment_value,review_score,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,product_category_name_english
0,e481f51cbdc54678b7cc49136f2d6af7,delivered,2017-10-02 10:56:33,2017-10-10 21:25:13,credit_card,1.0,18.12,4,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,housewares
1,e481f51cbdc54678b7cc49136f2d6af7,delivered,2017-10-02 10:56:33,2017-10-10 21:25:13,voucher,1.0,2.00,4,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,housewares
2,e481f51cbdc54678b7cc49136f2d6af7,delivered,2017-10-02 10:56:33,2017-10-10 21:25:13,voucher,1.0,18.59,4,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,housewares
3,53cdb2fc8bc7dce0b6741e2150273451,delivered,2018-07-24 20:41:37,2018-08-07 15:27:45,boleto,1.0,141.46,4,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,perfumery
4,47770eb9100c2d0c44946d9cf07ec65d,delivered,2018-08-08 08:38:49,2018-08-17 18:06:29,credit_card,3.0,179.12,5,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,auto

Les possibilit√©s de traitements des valeurs cat√©gorielles :
    - One Hot Encoding / Get Dummies Encoding
    - Label Encoding

In [3]:
encoded_status = pd.get_dummies(df, columns=['order_status'])
encoded_status.head(20)

,order_id,order_purchase_timestamp,order_delivered_customer_date,payment_type,payment_installments,payment_value,review_score,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,product_category_name_english,order_status_canceled,order_status_created,order_status_delivered,order_status_invoiced,order_status_processing,order_status_shipped,order_status_unavailable
0,e481f51cbdc54678b7cc49136f2d6af7,2017-10-02 10:56:33,2017-10-10 21:25:13,credit_card,1.0,18.12,4,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,housewares,0,0,1,0,0,0,0
1,e481f51cbdc54678b7cc49136f2d6af7,2017-10-02 10:56:33,2017-10-10 21:25:13,voucher,1.0,2.00,4,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,housewares,0,0,1,0,0,0,0
2,e481f51cbdc54678b7cc49136f2d6af7,2017-10-02 10:56:33,2017-10-10 21:25:13,voucher,1.0,18.59,4,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,housewares,0,0,1,0,0,0,0
3,53cdb2fc8bc7dce0b6741e2150273451,2018-07-24 20:41:37,2018-08-07 15:27:45,boleto,1.0,141.46,4,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,perfumery,0,0,1,0,0,0,0
4,47770eb9100c2d0c44946d9cf07ec65d,2018-08-08 08:38:49,2018-08-17 18:06:29,credit_card,3.0,179.12,5,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,auto,0,0,1,0,0,0,0
5,949d5b44dbf5de918fe9c16f97b45f8a,2017-11-18 19:28:06,2017-12-02 00:28:42,credit_card,1.0,72.20,5,7c142cf63193a1473d2e66489a9ae977,59296,sao goncalo do amarante,RN,pet_shop,0,0,1,0,0,0,0
6,ad21c59c0840e6cb83a9ceb5573f8159,2018-02-13 21:18:39,2018-02-16 18:17:02,credit_card,1.0,28.62,5,72632f0f9dd73dfee390c9b22eb56dd6,9195,santo andre,SP,stationery,0,0,1,0,0,0,0
7,a4591c265e18cb1dcee52889e2d8acc3,2017-07-09 21:57:05,2017-07-26 10:57:55,credit_card,6.0,175.26,4,80bb27c7c16e8f973207a5086ab329e2,86320,congonhinhas,PR,auto,0,0,1,0,0,0,0
8,136cce7faa42fdb2cefd53fdc79a6098,2017-04-11 12:22:08,NaN,credit_card,1.0,65.95,2,36edbb3fb164b1f16485364b6fb04c73,98900,santa rosa,RS,NaN,0,0,0,1,0,0,0
9,6514b8ad8028c9f2cc2374ded245783f,2017-05-16 13:10:30,2017-05-26 12:55:51,credit_card,3.0,75.16,5,932afa1e708222e5821dac9cd5db4cae,26525,nilopolis,RJ,auto,0,0,1,0,0,0,0
10,76c6e866289321a7c93b82b54852dc33,2017-01-23 18:29:09,2017-02-02 14:08:10,boleto,1.0,35.95,1,39382392765b6dc74812866ee5ee92a7,99655,faxinalzinho,RS,furniture_decor,0,0,1,0,0,0,0
11,e69bfb5eb88e0ed6a785585b27e16dbf,2017-07-29 11:55:02,2017-08-16 17:14:30,voucher,1.0,161.42,5,299905e3934e9e181bfb2e164dd4b4f8,18075,sorocaba,SP,office_furniture,0,0,1,0,0,0,0
12,e69bfb5eb88e0ed6a785585b27e16dbf,2017-07-29 11:55:02,2017-08-16 17:14:30,credit_card,1.0,8.34,5,299905e3934e9e181bfb2e164dd4b4f8,18075,sorocaba,SP,office_furniture,0,0,1,0,0,0,0
13,e6ce16cb79ec1d90b1da9085a6118aeb,2017-05-16 19:41:10,2017-05-29 11:18:31,credit_card,1.0,259.06,1,f2a85dec752b8517b5e58a06ff3cd937,20780,rio de janeiro,RJ,garden_tools,0,0,1,0,0,0,0
14,34513ce0c4fab462a55830c0989c7edb,2017-07-13 19:58:11,2017-07-19 14:04:48,credit_card,1.0,114.13,4,782987b81c92239d922aa49d6bd4200b,4278,sao paulo,SP,computers_accessories,0,0,1,0,0,0,0
15,82566a660a982b15fb86e904c8d32918,2018-06-07 10:06:19,2018-06-19 12:05:52,boleto,1.0,50.13,5,e97109680b052ee858d93a539597bba7,35400,ouro preto,MG,perfumery,0,0,1,0,0,0,0
16,5ff96c15d0b717ac6ad1f3d77225a350,2018-07-25 17:44:10,2018-07-30 15:52:25,credit_card,3.0,32.70,5,e2dfa3127fedbbca9707b36304996dab,4812,sao paulo,SP,bed_bath_table,0,0,1,0,0,0,0
17,432aaf21d85167c2c86ec9448c4e42cc,2018-03-01 14:14:28,2018-03-12 23:36:26,credit_card,1.0,54.36,4,04cf8185c71090d28baa4407b2e6d600,5271,sao paulo,SP,toys,0,0,1,0,0,0,0
18,dcb36b511fcac050b97cd5c05de84dc3,2018-06-07 19:03:12,2018-06-21 15:34:32,credit_card,10.0,146.45,5,ccafc1c3f270410521c3c6f3b249870f,74820,goiania,GO,perfumery,0,0,1,0,0,0,0
19,403b97836b0c04a622354cf531062e5f,2018-01-02 19:00:43,2018-01-20 01:38:59,credit_card,10.0,1376.45,4,6e26bbeaa107ec34112c64e1ee31c0f5,21381,rio de janeiro,RJ,construction_tools_construction,0,0,1,0,0,0,0

In [4]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
df['product_category_name_english'] = label_encoder.fit_transform(df['product_category_name_english'])
df.head()

,order_id,order_status,order_purchase_timestamp,order_delivered_customer_date,payment_type,payment_installments,payment_value,review_score,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,product_category_name_english
0,e481f51cbdc54678b7cc49136f2d6af7,delivered,2017-10-02 10:56:33,2017-10-10 21:25:13,credit_card,1.0,18.12,4,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,49
1,e481f51cbdc54678b7cc49136f2d6af7,delivered,2017-10-02 10:56:33,2017-10-10 21:25:13,voucher,1.0,2.00,4,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,49
2,e481f51cbdc54678b7cc49136f2d6af7,delivered,2017-10-02 10:56:33,2017-10-10 21:25:13,voucher,1.0,18.59,4,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,49
3,53cdb2fc8bc7dce0b6741e2150273451,delivered,2018-07-24 20:41:37,2018-08-07 15:27:45,boleto,1.0,141.46,4,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,59
4,47770eb9100c2d0c44946d9cf07ec65d,delivered,2018-08-08 08:38:49,2018-08-17 18:06:29,credit_card,3.0,179.12,5,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,5